@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";

:root {
  --primary: #5D7FE3; /* deep purple */
  --primary-foreground: #ffffff;
  --secondary: #5D7FE3; /* vibrant purple */
  --secondary-foreground: #ffffff;

  --muted: #5D7FE3; /* light purple background */
  --muted-foreground: #375ac1;
}


